<%= form_for [:admin, @project] do |f| %>
	<div class="col-md-12">
		<div class="form-group">
			<%= f.text_field :name, placeholder: "Name", class: "form-control" %>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<%= f.text_area :description, placeholder: "Description", class: "form-control" %>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<%= f.label :main_image, "Select Image" %>
			<%= f.file_field :main_image %>
		</div>
	</div>
	<div class="col-md-12">
		<%= f.submit class: "btn btn-primary" %>
		<%= link_to 'Cancel', admin_projects_path, class: "btn btn-default" %>
	</div>
<% end %>