<!-- Header hero image -->
<div class="page-hero" style="background-image: url(<%= asset_path('welding.jpg') %>);" >
	<div class="container">
		<div class="row">

		</div>
	</div>
</div>

<div class="dark-blue">
	<div class="blue-circle">
		<h5>Projects</h5>
		<%= image_tag "line_art/wheel.png" %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Projects</h1>
			</div> 
			<div class="col-md-4">
				<%= link_to "New Project", new_admin_project_path, class: "btn btn-default", style: "margin-top: 25px" %>
			</div>
		</div>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th>Completed?</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
						<tr>
							<td><%= project.images.first ? (image_tag project.images.first.image_attach.url(:thumb), alt: "thumb") : "N/A" %></td>
							<td><%= link_to project.name, admin_project_path(project) %></td>
							<td><%= project.complete_date.present? ? project.complete_date.strftime("%m/%d/%Y") : "In Progress" %></td>
							<td><%= project.description %></td>
							<td>
								<%= link_to 'Edit', edit_admin_project_path(project), class: 'btn btn-default' %>
								<%= link_to 'Complete', complete_admin_project_path(project), method: :put, class: 'btn btn-default' %>
								<%= link_to 'Delete', admin_project_path(project), method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
