<!-- Header hero image -->
<div class="project-hero" style="background-image: url(<%= asset_path('backgrounds/projects.jpg') %>);" >
</div>

<div class="dark-blue">
	<div class="blue-circle wheel">
		<h5 class="double">Current<br>Projects</h5>
		<%= image_tag "line_art/wheel.png" %>
	</div>
	<div class="container">
		<div class="row">
			<div style="text-align: center; margin-left: auto; margin-right: auto; width: 60%">
				<h4>What's Happening at the Shop</h4>
				<p>We have so many projects going on, it is hard to keep track. If you want a glimps of what's happening, check out some of the projects below. Click an image to learn more.</p>
			</div>
		</div>
	</div>
</div>

<!-- Instagram Feed -->
<a name="gallery"></a>
<div class="instagram">
	<% if @projects.current.count == 0 %>
		<div class="container" style="background-image: url(<%= asset_path('backgrounds/projects.jpg') %>); min-height: 300px">
			<div class="row centered">
				<h2>No Current Projects</h2>
				<h4>Check back soon!</h4>
			</div>
		</div>
	<% else %>
		<div class="container">
			<div class="row">
				<% @projects.current.each do |project| %>
					<%= link_to project do %>
						<div class="col-md-4" style="background-image: url(<%= asset_path(project.main_image.url(:large)) %>); background-size: cover">
							<%= image_tag project.main_image.url(:medium) if !project.main_image.url(:medium).include?("missing") %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

<div class="dark-blue">
	<div class="blue-circle wheel">
		<h5 class="double">Past<br>Projects</h5>
		<%= image_tag "line_art/wheel.png" %>
	</div>
	<div class="container">
		<div class="row">
			<div style="text-align: center; margin-left: auto; margin-right: auto; width: 60%">
				<h4>What We've Worked On</h4>
				<p>We've got some great experience from a diverse set of past projects. Check out some of the images below to get an example of our work or find inspiration for your next project.</p>
			</div>
		</div>
	</div>
</div>

<!-- Instagram Feed -->
<a name="gallery"></a>
<div class="instagram">
	<% if @projects.past.count == 0 %>
		<div class="container" style="background-image: url(<%= asset_path('backgrounds/projects.jpg') %>); min-height: 200px">
			<div class="row centered">
				<h2>No Past Projects</h2>
				<h4>Check back soon!</h4>
			</div>
		</div>
	<% else %>
		<div class="container">
			<div class="row">
				<% @projects.past.each do |project| %>
					<%= link_to project do %>
						<div class="col-md-4" style="background-image: url(<%= asset_path(project.main_image.url(:large)) %>); background-size: cover">
							<%= image_tag project.main_image.url(:medium) if !project.main_image.url(:medium).include?("missing") %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>